DEBUG=True
SECRET_KEY=django-insecure-example-secret-key
DATABASE_NAME=dicoevent_db
DATABASE_USER=dicoevent_user
DATABASE_PASSWORD=dicoevent_password
DATABASE_HOST=localhost
DATABASE_PORT=5432

# MinIO Storage Settings
MINIO_ENDPOINT_URL=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=dicoevent

# Redis Cache Settings
REDIS_HOST=localhost
REDIS_PORT=6379

# Celery & Asynchronous Task Settings
CELERY_BROKER_URL=redis://localhost:6379/0

# Mail Server Settings
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASSWORD=your_email_password
